*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    font: 14px Arial, sans-serif;
    color: #2c2c53;
    line-height: 2em;
}

.content{
    max-width: 960px;
    margin: 40px auto;
}

#field{
    width: 600px;
    height: 600px;
    background-color: beige;
}

.square{
    position: relative;
    float: left;
    width: 28px;
    height: 28px;
    background-color: ghostwhite;
    border: 1px solid #97a1ba;
}

.clear{
    clear: both;
}

.snake {
    width: 28px;
    height: 28px;
    background-color: #000;
}